/* Extension styles */
.extension-div {
    display: flex;
    margin-bottom: 8px;
    padding: 3px;
    border: 1px solid #d8e1e8;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.extension-div .hidden {
    display: none;
}

.is-turn+.extension-div {
    border: none;
    border-left: 2px solid #1b9af0;
    border-bottom: 2px solid #1b9af0;
    border-right: 2px solid #1b9af0;
}

.name-input {
    max-width: 10rem;
}

.duration-input {
    max-width: 5rem;
}

.concentrating-input-cell {
    display: flex;
    justify-content: center;
}

.concentrate-checkbox {
    margin-top: 4px;
    transform: scale(1.5);
}

.combatant-card.combatant-card--is-dead .combatant-card__left-bit,
.combatant-card.combatant-card--is-dead .combatant-card__mid-bit {
    background-color: #d8e1e8;
}

input.duration-input::-webkit-outer-spin-button,
input.duration-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].duration-input {
    -moz-appearance: textfield;
}

.name-input:disabled,
.duration-input:disabled {
    border: none;
    background-color: transparent;
    color: #10161a;
}

.duration-input:disabled {
    text-align: center;
}

.effect-header {
    text-align: left;
}

.add-effect-btn {
    border: none;
    background-color: transparent;
    color: green;
    cursor: pointer;
}

.add-effect-btn::before {
    background-color: white;
    border: 1px solid #888;
    border-radius: 2px;
    color: #444;
    content: attr(data-tooltiptext);
    display: none;
    font-family: sans-serif;
    font-size: 14px;
    padding: 2px 5px;
    position: absolute;
    z-index: 1;
    transform: translateX(30%);
}

.add-effect-btn:hover::before {
    display: block;
}

.add-effect-btn:hover {
    color: rgb(3, 173, 3);
}

.add-effect-btn:hover .tooltiptext {
    visibility: visible;
}

.add-effect-btn:focus,
.add-effect-btn:active,
.add-effect-btn:active:focus {
    outline-style: none;
}

.add-effect-btn:active {
    color: rgb(0, 87, 0);
}

.ddbeb-button-small {
    height: 22px !important;
    padding: 0 8px;
}

/* Modifications to the original elements */

.combatant-card.is-turn .combatant-card__left-bit {
    border-top: 2px solid #1b9af0 !important;
    border-left: 2px solid #1b9af0 !important;
    border-bottom: 2px solid #1b9af0 !important;
}

.combatant-card.is-turn .combatant-card__mid-bit {
    box-shadow: none !important;
    border: 1px solid #d8e1e8 !important;
    border-top: 2px solid #1b9af0 !important;
}

.combatant-card.is-turn.combatant-card--monster .combatant-card__mid-bit {
    border-bottom: 2px solid #1b9af0 !important;
}

.combatant-card.is-turn .combatant-card__right-bit {
    border-top: 2px solid #1b9af0 !important;
    border-right: 2px solid #1b9af0 !important;
}

.combatant-card.is-turn.combatant-card--monster .combatant-card__right-bit {
    border-bottom: 2px solid #1b9af0 !important;
}

.combatant-card--character:has(+ .extension-div:not(.hidden)) .combatant-card__left-bit {
    border-bottom-left-radius: 0px !important;
}

.combatant-card--character:has(+ .extension-div:not(.hidden)) .combatant-card__right-bit {
    border-bottom-right-radius: 0px !important;
}

.combatant-card--character.is-turn:has(+ .extension-div.hidden) .combatant-card__left-bit {
    border-bottom: 2px solid #1b9af0 !important;
}

.combatant-card--character.is-turn:has(+ .extension-div.hidden) .combatant-card__mid-bit {
    border-bottom: 2px solid #1b9af0 !important;
}

.combatant-card--character.is-turn:has(+ .extension-div.hidden) .combatant-card__right-bit {
    border-bottom: 2px solid #1b9af0 !important;
}

.extension-div+.combatant-card {
    margin-top: 8px;
}