/* Extension styles */
.extensions-div {
    display: flex;
    margin-bottom: 8px;
    padding: 3px;
    border: 1px solid #d8e1e8;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.is-turn+.extensions-div {
    border: none;
    border-left: 2px solid #1b9af0;
    border-bottom: 2px solid #1b9af0;
    border-right: 2px solid #1b9af0;
}

.add-effect-btn {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    margin-left: 0.1rem;
}

.name-input {
    max-width: 10rem;
}

.duration-input {
    max-width: 5rem;
}

.concentrating-input-cell {
    display: flex;
    justify-content: center;
}

.concentrate-checkbox {
    transform: scale(1.5);
}

.combatant-card.combatant-card--is-dead .combatant-card__left-bit,
.combatant-card.combatant-card--is-dead .combatant-card__mid-bit {
    background-color: #d8e1e8;
}

.name-input:disabled,
.duration-input:disabled {
    border: none;
    background-color: transparent;
    color: #10161a;
}

.duration-input:disabled {
    text-align: center;
}

.effect-header {
    text-align: left;
}

/* Modifications to the original elements */

.combatant-card.is-turn .combatant-card__left-bit {
    border-top: 2px solid #1b9af0 !important;
    border-left: 2px solid #1b9af0 !important;
    border-bottom: 2px solid #1b9af0 !important;
}

.combatant-card.is-turn .combatant-card__mid-bit {
    box-shadow: none !important;
    border: 1px solid #d8e1e8 !important;
    border-top: 2px solid #1b9af0 !important;
}

.combatant-card.is-turn.combatant-card--monster .combatant-card__mid-bit {
    border-bottom: 2px solid #1b9af0 !important;
}

.combatant-card.is-turn .combatant-card__right-bit {
    border-top: 2px solid #1b9af0 !important;
    border-right: 2px solid #1b9af0 !important;
}

.combatant-card.is-turn.combatant-card--monster .combatant-card__right-bit {
    border-bottom: 2px solid #1b9af0 !important;
}

.combatant-card__left-bit {
    border-bottom-left-radius: 0px !important;
}

.combatant-card__right-bit {
    border-bottom-right-radius: 0px !important;
}